[Unit]
Description=Pioneer TV display (Weston + Chromium)
After=systemd-user-sessions.service plymouth-quit-wait.service pioneer-tv-daemon.service user@1000.service
Wants=pioneer-tv-daemon.service user@1000.service
Conflicts=getty@tty1.service
RequiresMountsFor=/run

[Service]
Type=simple
User=pi
Group=pi
PAMName=login
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-fail
StandardOutput=journal
StandardError=journal
UtmpIdentifier=tty1
UtmpMode=user
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=HOME=/home/pi
ExecStart=/usr/bin/weston --config=/home/pi/.config/weston.ini
Restart=always
RestartSec=2

[Install]
WantedBy=graphical.target
